{
  "presets": ["next/babel"],
  "plugins": [["styled-components", { "ssr": true }]],
  "env": {
    "dev": {
      "plugins": [
        [
          "babel-plugin-styled-components",
          {
            "ssr": false,
            "displayName": false
          }
        ]
      ]
    }
  }
}